.cont{
    width: 300px;
    height: 300px;
    background: url(../img/dark-4.jpg);
    margin: auto;
    position: relative;
    overflow: hidden;
}
.cont:hover .lyr{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    transition: all 3s;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
}
.item{
    width: 35%;
    height: 15%;
    background: red;
    position: absolute;
    bottom: -50px;
}
.cont:hover .item{
   bottom: 20px;
   left:20px;
   transition: all 1s;
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
}
