.cont{
        width:70% ;
        height: 550px;
        /* background: black; */
        margin: auto;
}
*{
    margin: 0
}

.left{
    width: 70%;
    height: 100%;
    /* background: green; */
    float: left;
}
.right{
    width: 30%;
    height: 100%;
    background: red;
    float: left;
}
.left form input{
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid gray;
    padding: 20px 80px;
}
.clr{
    clear: both;
}