.conten{
    width: 90%;
    height: 300px;
    /* background: red; */
    margin: auto;
    margin-top: 150px;
}
.item{
    width: 16%;
    height: 50%;
    /* background: green; */
    float: left;
    text-align: center;
    border: 1px solid gray;
}
.item img{
    margin-top: 70px;
}